body {
    background-color: forestgreen;
    margin: 0;
}

h1, h2, h3, p {
    color: whitesmoke;
    text-align: center;
}

h3 {
    margin: 0;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.choice-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.rock, .paper, .scissors {
    font-size: 20px;
    padding: 10px 15px;
}

.rock {
    color: whitesmoke;
    background-color: brown;
}

.paper {
    color: black;
    background-color: white;
}

.scissors {
    color: whitesmoke;
    background-color: darkgrey;
}

.matchup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-container {
    display: flex;
    justify-content: center;
    width: 400px;
    align-items: start;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 20px 0 20px;
    align-items: start;
}

.notes {
    color: whitesmoke;
    background-color: darkgreen;
    border-color: burlywood;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    width: 100%;
}

.user-score, .comp-score {
    padding: 20px;
    max-width: 500px;
    font-size: 18px;
}

.results {
    font-size: 18px;
}

.progress-container h3, .results-container h3 {
    margin-bottom: 20px;
}

