body {
    background-color: forestgreen;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
}

h1, h2, h3, p {
    color: whitesmoke;
    text-align: center;
}

h3 {
    margin: 0;
}

.cover-image {
    display: flex;
    justify-content: center;
}

.cover-image img {
    width: 500px;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.choice-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.rock, .paper, .scissors, .new-game {
    font-size: 20px;
    padding: 10px 15px;
}

.rock, .paper, .scissors {
    background-color: darkgreen;
    border-color: burlywood;
}

.fighter img {
    width: 100%;
}

.matchup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.matchup img {
    width: 150px;
}



.results-container {
    width: 400px;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 20px 0 20px;
    align-items: start;
}

.notes {
    color: whitesmoke;
    background-color: darkgreen;
    border-color: burlywood;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    width: calc(100% - 20px - 8px);
}

.user-score, .comp-score {
    padding: 20px;
    max-width: 500px;
    font-size: 18px;
}

.results {
    font-size: 18px;
}

.progress-container h3, .results-container h3 {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
    width: calc(100vw - 60px);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
  }

